html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none !important;
}

.bg777d7173{
    background-color: #777d7173;
}

.bg777d71 {
    background-color: #777d71;
}

.pd_0 {
    padding: 0 !important;
}

 .shadow_None:focus {
  box-shadow: 0 2px 0 2px #000!important;
}


/* .slide_Main */

.slide_Main {
    padding-bottom: 50px;
}

.slide_Main .box_Slidemain .slideMain img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

/* content_One */

.content_One {
    padding: 50px 0;
}

.content_One .title_Content p {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

.content_One .main_Content {
    background-color: #1d515994;
    padding: 0;
    border-radius: 50px 0 50px 0;
}

.content_One .main_Content .box_One,
.content_One .main_Content .box_Two {
    display: flex;
}

.content_One .main_Content .text_Box {
    padding: 10% 15% 5% 2%;
}

.content_One .main_Content .text_Box p.title  {
    font-weight: 900;
    font-size: 28px;
}

.content_One .main_Content .text_Box p.content {
    font-size: 18px;
    line-height: 2;
}

.box_W50 {
    width: 50%;
}

.content_One .main_Content .box_Maincontent {
    display: flex;
}

.content_One .main_Content img {
    width: 100%;
}

/* slick-btn */

.slide_Main button.slick-arrow {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    /* padding: 1em 2em; */
    /* width: 50px;
    height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    /* background:none; */
    /* color: red;
    font-weight: 700;
    box-shadow: inset 0 0 0 2px red; */
    /* vertical-align: middle; */
}

.slide_Main button {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #1d515994;
    border: none;
    color: white;
    position: relative;
    width: 120px;
    height: 45px;
    transition: background-color 0.2s ease-in, all 0.15s ease-in;
  }
  
.slide_Main  button.slick-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "<";
    width: 120px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5px, 5px);
    background-color: white;
    color: #1d515994;
    border: 2px solid #1d515994;
    transition: all 0.15s ease-in;
  }
  
.slide_Main  button.slick-next::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 120px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(5px, 5px);
    background-color: white;
    color: #1d515994;
    border: 2px solid #1d515994;
    transition: all 0.15s ease-in;
  }
  
.slide_Main  button:hover::after {
    transform: translate(-8px, -9px);
  }
  
.slide_Main  button:hover {
    transform: translate(5px, 5px);
  }
  
.slide_Main  button:active::after {
    background-color: rgb(232, 255, 219);
  }

.slide_Main .slick-prev {
    left: 60px;
}

.slide_Main .slick-next {
    right: 60px;
}

/* product_Div */

.product_Div1 {
    padding: 50px 0;
}

.product_Div1 .titleProducts p {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

.product_Div1 .box_Product {
    cursor: pointer;
    padding: 0px 7px;
}

.product_Div1 .box_Product .border_Product {
    /* border: 1px #cccccc52 solid; */
    border-radius: 25px;
    transition: all .5s;
    padding: 20px 0px 0px 0px;
    background: #c8d7d2;
}

.product_Div1 .box_Product .border_Product:hover {
    box-shadow: 0px 10px 5px #cccccc;
    transition: all .5s;
}

.product_Div1 .box_Product .cdBid .numberTime {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.product_Div1 .box_Product .cdBid .textTime p,
.product_Div1 .box_Product .cdBid .numberTime p {
    margin: 5px;
}

.product_Div1 .box_Product .cdBid p {
    text-align: center;
}

.product_Div1 .box_Product .cdBid .title_cdBid p {
    color: #000;
    font-size: 21px;
    margin-bottom: 5px;
    font-weight: 700;
}

.product_Div1 .box_Product .cdBid .textTime {
    font-size: 14px;
    color: #000;
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
}

.product_Div1 .box_Product .imgProduct img {
    width: 100%;
    height: auto;
}

.product_Div1 .box_Product .imgProduct .boxImg {
    width: 100%;
    height: auto;
    margin: auto;
}

.product_Div1 .box_Product .titleProduct .boxTitle {
    width: 80%;
    margin: auto;
}

.product_Div1 .box_Product .titleProduct .boxTitle p a {
    text-decoration: none;
    color: #484E5D;
}

.product_Div1 .box_Product .titleProduct .boxTitle p {
    font-size: 21px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.product_Div1 .priceStart .boxPrice_start {
    display: flex;
}

.product_Div1 .priceStart .boxPrice_start p.price {
    margin-top: 2px;
}

.product_Div1 .priceStart .boxPrice_start p.titleSprice {
    font-size: 18px;
    color: #484E5D;
    font-weight: 600;
    margin-right: 10px;
}

.product_Div1 .staTus .boxStatus {
    display: flex;
}

.product_Div1 .staTus .boxStatus p.titleStatus {
    font-size: 18px;
    color: #484E5D;
    font-weight: 600;
    margin-right: 10px;
}

.product_Div1 .staTus .boxStatus p.active {
    margin-top: 2px;
}

.product_Div1 .viewDetails .boxView_details a button {
    color: #fff;
    height: 40px;
    text-decoration: none;
    padding: 3px 10px 0 10px;
    background-color: #1D5159;
    line-height: normal;
    /* border-radius: 10px; */
    border: 2px solid #1D5159;
    align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.product_Div1 .viewDetails .boxView_details a button:before {
    content: "";
    background: #fff;
    position: absolute;
    z-index: -1;
    /* border-radius: 8px !important; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.product_Div1 .viewDetails .boxView_details a button:hover {
    border-color: transparent;
    color: #126B66;
    /* border-radius: 8px !important; */
}

.product_Div1 .viewDetails .boxView_details a button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    /* border-radius: 8px !important; */
}

.product_Div1 .titleProducts {
    position: relative;
}

.product_Div1 .titleProducts .view_Allproduct {
    position: absolute;
    right: 15px;
    top: 35px;
}

.product_Div1 .info_Product {
    background-color: #ffc87a;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.product_Div1 .info_Product .box_Infoproduct {
    padding: 20px 25px 25px 25px;
}


.cta {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
  }
  
  .cta span {
    padding-bottom: 3px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bd6129;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  

/* slick-dots */

.slick-dots {
    display: flex !important;
    justify-content: center;
}

.slick-dots li button {
    border: none;
    font-size: 0;
    height: 20px;
    width: 20px;
    margin: 0 10px;
    border-radius: 29px;
    transition: all .3s;
}

.slick-dots li button:hover {
    transition: all .3s;
    background-color: #126B66;
}

.slide_Product .slick-list {
    padding-bottom: 35px;
}

/* content_Two */

.content_Two .view_Detailtc2 {
    margin-top: 20px;
}

.content_Two .view_Detailtc2 a {
    text-decoration: none;
}

.content_Two .box_Content2 {
    display: flex;
    margin: 5px 5px 35px 5px;
}

.content_Two .box_Content2 .text_Content2 {
    padding: 90px 20px 0 20px;
}

.content_Two .box_Content2 .text_Content2 .title_Tc2 p {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.content_Two .box_Content2 .text_Content2 .text_Tc2 p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.content_Two .box_Content2 .img_Content2 .boxImg_tc2 {
    width: 100%;
}

.content_Two .box_Content2 .img_Content2 .boxImg_tc2 img {
    width: 100%;
    height: 381px;
    object-fit: cover;
}

/* .content_Three */ 

.content_Three .box_Content3 {
    background-color: #1D5159;
    text-align: center;
    padding: 100px 30%;
    margin-top: 50px;
}

.content_Three .box_Content3 .title_Content3 p {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.content_Three .box_Content3 .text_Content3 p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.content_Three .box_Content3 .btn_Viewct3 a button {
    border-radius: 10px;
    margin-top: 20px;
}

.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 39%, 49%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(110%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
  

/* content_Four */

.content_Four {
    margin: 100px 0;
}

.content_Four .title_Content4 p {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.content_Four .slide_Ourpartners div {
    width: 100%;
    height: 200px;
    position: relative;
}

.content_Four .slide_Ourpartners div img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 36px 20px;
    opacity: .6;
    cursor: pointer;
    transition: all .5s;
}

.content_Four .slide_Ourpartners div img:hover {
    opacity: 1;
    transition: all .5s;
}

/* submit */

.submit {
    background-image: url(../img/double-exposure-businessman-hold-hammerstock-260nw-1843537645.jpg);
}

.box_submit {
    display: flex;
    justify-content: space-between;
}

.submit .box_submit {
    padding: 50px 0 40px 0;
}

.submit .title_submit,
.submit .email_submit {
    width: 50%;
}

.submit .title_submit p.title_Ts {
    font-size: 32px;
    font-weight: 700;
}

.submit .title_submit p {
    margin-bottom: 0;
    color: #1a0f0f;
}

.submit .title_submit p.content_Ts {
    font-size: 20px;
    font-weight: 500;
}

/* .submit .email_submit {
    position: relative;
}

.submit .email_submit input {
    height: 60px;
    width: 80%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
} */

.submit .input-container {
    margin-top: 12px;
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
.submit  .input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.925rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
 .submit .input-container input:focus {
    border: 1px solid rgb(236 72 153 );
  }
  
 .submit .invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background-color: rgb(236 72 153 );
    color: #fff;
    padding-top: .55rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
  }
  
 .submit .invite-btn:hover {
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 8px;
  }
  
 .submit .input-container input:placeholder-shown ~ .invite-btn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
  }


 #style_Scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style_Scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style_Scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}


